

@import '../../../_common/styles/common.scss';



.frame1 {
	// opacity: 1;
	.logo_big{
		
		
		
	}

	.holder-ball{
		@include pos-scale(712, 147, 0.73);
	}

	.logoHolder{
		transform-origin: 790px 222px;
		@include pos-scale(-408, -174, 1);
		// @include pos-scale(-234, -176, 0.196);
		// @include pos-scale(-269, -189, 0.118);
	}

	.mask{
		width:200px;
		height:202px;
		// background-color: red;
		overflow: hidden;
		@include pos(0, 0);
	}

	.mask.ball{
		width: 0px;
	}
	.mask.puck{
		width: 200px;
	}

	.t1a{		
		// background-color: red;
		@include pos-scale(-235, -25, 0.5);
		transform-origin: 470px 50px;
	}

	.t1b{
		@include pos-scale(-210, -65, 0.5);
		transform-origin: 420px 130px;
	}

	.logos{
		@include pos-scale(0, 1, .5);
	}

}



#legalBtn{	
	@include pos(7, 40);
	opacity: 1;
	width: 36px;
	height: 25px;
	background-color: red;
	opacity: 0;
}

#banner{
	font-size: 20px;
	color: #333;
	width: 728px;
	height: 90px;
}

