<div id="banner">
	<div class="outline"></div>
	<img id="bg" class="retina" src="./images/bg.jpg" inline/>
	
	<!-- <img id="proline" class="retina" src="./images/proline.png" inline/> -->
	<img  id="phone"  src="./images/14-phone.png" alt="" inline>
	<div class="frame frame1">
		
		<img id="t1a" class="retina" src="./images/t1a.png" inline/>
		<img id="t1b" class="retina" src="./images/t1b.png" inline/>
		
	</div>
	<div class="frame frame2">
		<img id="t2a" class="retina" src="./images/t2a.png" inline/>
		

		
		<img id="footer" class="retina" src="./images/footer.png" inline/>
		<!-- <div id="legalBtn"></div> -->
		<!-- <% include ../_common/templates/legal %> -->
	</div>
</div>