<div id="banner">
	<div class="outline"></div>
	<img class="retina" src="./images/bg.jpg" inline>
	<div class="frame frame1">
		
		<!-- <img class="f1" src="./frames/f1.jpg" alt="" inline> -->
		<div class="logoHolder">
			<img class="logo_big" src="./images/logo.png" alt="" inline>
			<div class="holder-ball">
				<img class="white-circle" src="./images/white-O.png" inline>
				<div class="mask puck">
					<div class="ss" id="copyToPuck"></div>				
				</div>
				<div class="mask ball">
					<div class="ss" id="copyToBall"></div>
				</div>
				
			</div>
		</div>

	 	<img class="retina t1 t1a" src="./images/t1a.png" inline>
		<img class="retina t1 t1b" src="./images/t1b.png" inline>

		<img class="retina t2" src="./images/t2.png" inline>

		<img class="retina logos" src="./images/logos.png" inline>
		<img class="retina footer" src="./images/footer.png" inline>
 
		<% include ../_common/templates/legal %>

	</div>

	<img class="hide" id="copyFromBall" src="./images/ball_ss.png" inline>
	<img class="hide" id="copyFromPuck" src="./images/puck_ss.png" inline>
	
</div>